* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: sans-serif;
    color: black;
}

main {
    height: 100vh;
    border: 50px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#carosello {
    border: 5px solid black;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
}

figure img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    display: none; 
}

figure img.active {
    display: block; 
}

#preview-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

#preview-container img {
    width: 100px; 
    height: auto; 
    margin: 0 5px; 
    cursor: pointer;
}

#preview-container img.preview-active {
    border: 2px solid black;
}

.fa-chevron-down,
.fa-chevron-up {
    position: absolute;
    background-color: pink;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.fa-chevron-up {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.fa-chevron-down {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#start-button,
#stop-button,
#reverse-button {
    background-color: pink;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

#start-button:hover,
#stop-button:hover,
#reverse-button:hover {
    background-color: lightcoral;
    
}